<nav class="main-nav">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/sobre" routerLinkActive="active">Sobre</a></li>
      <li><a routerLink="/postagens" routerLinkActive="active">Postagens</a></li> 
    </ul>
    <div class="auth-buttons">
     <button (click)="loginClick.emit()" class="btn">Login</button>
    <button (click)="signInClick.emit()" class="btn alt">Sign Up</button>
    </div>
    
  </nav>
  